<div class="form-blogs">
<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title%>
    <%= form.text_field :title, class:"input-data-form" %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class:"input-data-form" %>
  </div>
  <div class="field">
    <%= form.label :description2, 'Message' %>
    <%= form.text_area :description2, class:"input-data-form" %>
  </div>
  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %><br>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

</div>