<p id="notice"><%= notice %></p>

<h1 class="title">My Blogs</h1>


<div class="btn-add-blogs">
    <%= link_to '<i class="fa fa-plus-circle" aria-hidden="true"></i> New Blog'.html_safe, new_blog_path %>
</div>
<div class="list-blogs">
  <div class="row">
  <%if @blogs.length > 0 %>
    <% @blogs.each do |blog| %>
      <div class="col-md-4">
            <div class="card">
                <% if blog.image.attached? %>
              <%= image_tag blog.image %>
                 <% end %>
             <div class="card-body">
              <h5 class="card-title"> <%= blog.title %></h5>
              <p class="card-text">Description : <%= blog.description%></p>
              <p class="card-text">Details : <%= blog.description2 %></p>
              <div class="read-more">
                  <%= link_to 'Learn more', blog %>
              </div>

              <ul class="nav nav-pills actions-blog">
                <li role="presentation"><%= link_to '<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'.html_safe, edit_blog_path(blog) %></li>
                <li role="presentation"><%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, blog, method: :delete, data: { confirm: 'Are you sure?' } %></li>
              </ul>
            </div>
          </div>
      </div>
      
    <% end %>

  <%else%>
      <h3 class="text-center">No Blogs? Please create your own blogs....</h3>

  <% end %>
  </div>

</div>


