<p id="notice"><%= notice %></p>
<p>
  <% if @blog.image.attached? %>
      <strong>Image:</strong>
    <%= image_tag @blog.image %>
  <% end %>
</p>
<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @blog.description %>
</p>
<p>
  <strong>Description Detail:</strong>
  <%= @blog.description2 %>
</p>
<h2>Review From<h2>
<%= form_with(model: @blog_review, local: true) do |form| %>
  <div class= "field">
    <%= form.text_area :review %>
    <%= form.hidden_field :blog_id, :value => @blog.id %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<h2>Review List</h2>
<ul>
  <% @blog.blog_review.each do |blog_review|%>
   <li><%= blog_review.review%></li>
<% end %>
</ul>
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
