<div class="common-form">
<h2 class="title">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<div class="field input-group">
    <%= f.label :name,'<i class="fa fa-user" aria-hidden="true"></i>'.html_safe, class:"input-group-addon" %>
    <%= f.text_field :name, class:"input-data-event form-control"%>
  </div> 

  <div class="field input-group">
    <%= f.label :age,'<i class="fa fa-calendar" aria-hidden="true"></i>'.html_safe, class:"input-group-addon" %>
    <%= f.number_field :age, class:"input-data-event form-control" %>
  </div> 
 
  <div class="field input-group">
    <%= f.label :email,'<i class="fa fa-envelope-o" aria-hidden="true"></i>'.html_safe, class:"input-group-addon" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input-data-event form-control" %>
  </div>

  <div class="field input-group">
    <%= f.label :password,'<i class="fa fa-unlock-alt" aria-hidden="true"></i>'.html_safe, class:"input-group-addon"%>
    <%= f.password_field :password, autocomplete: "new-password", class:"input-data-event form-control" %>
  </div>

  <div class="field input-group">
    <%= f.label :password_confirmation,'<i class="fa fa-unlock" aria-hidden="true"></i>'.html_safe, class:"input-group-addon" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input-data-event form-control" %>
  </div>

  <div class="field input-group">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<div class="footer-form btn-hover">
  <%= link_to "Have account arealdy?", new_session_path(resource_name) %>
</div>

</div>