  </head>

  <body>
      <% if user_signed_in? %>
      <p>Hello <%= current_user.email %></p>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "sign in", new_user_session_path %>
      <%= link_to "sign up", new_user_registration_path %>
    <% end %>
    <hr> 
    <%= yield %>
  </body>
</html>