  </head>

  <body>
       <%= link_to "Home", root_path %>
      <% if user_signed_in? %>
       <p>Hello、<%= link_to current_user.email, users_show_path %></p>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "sign in", new_user_session_path %>
      <%= link_to "sign up", new_user_registration_path %>
    <% end %>
    <hr> 
    <%= yield %>
  </body>
</html>