<!DOCTYPE html>
<html>
   <head>
      <title>Group6</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <link href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
   </head>
   <body>
      <div class="header">
         <ul class="nav nav-pills">
            <li class="nav-item">
               <%= link_to "Home", root_path, class:"nav-link" %>
            </li>
            <% if user_signed_in? %>
            <p>Hello、<%= link_to current_user.email, users_show_path %></p>
            <li class="nav-item">
               <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"nav-link" %>
            </li>
            <% else %>
            <li class="nav-item">
               <%= link_to "sign in", new_user_session_path %>
            </li>
            <li class="nav-item">
               <%= link_to "sign up", new_user_registration_path %>
            </li>
            <% end %>
         </ul>
      </div>
      <div class="container">
         <%= yield %>
      </div>
   </body>
</html>